body, html{
    background-color: #000;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
}

#page {
    position: relative;
    background-color: #fff;
    border-color: 1px solid #000;
    height: 80%;
    width: 90%;
    margin: 10% auto 0px auto;
    min-width: 500px;
    max-width: 800px;
    @media(max-width: 539px) {
        background-color: #0f0;
    }

    @media(min-width: 540px) and (max-width: 767px) {
        background-color: #fff;
    }
}


#my-list span{
    background-color: #0f0;
    text-align: center;
    width: 100%;
    display:block;
    padding: 5px 0px 10px;
}

#my-list ul {
    background-color: #126644;
    padding-left: 10px;
    list-style: none;
    display: table;
        li{
            display: inline;
            padding: 20px 0px;
            text-align: center;
            display: table-cell;
        }
}

.videoWrapper {
	position: relative;
    padding: 0px 0px 56.25% 0px;
    height: 0;
    width: 100%;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.container {
    color: #000;   
}

header{
    background-color: #126644;
    position: absolute;
    width: 100%;
    top: 0;
}

footer {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    
}